@use "sass:map";
@use "@angular/material" as mat;

html.blue_theme {
  --mat-sys-primary: rgb(16,124,185);
  --mat-sys-primary-fixed-dim: rgb(16,124,185, 0.15);
  --mat-sys-secondary: rgb(16,124,185);
  --mat-sys-secondary-fixed-dim: rgb(16,124,185, 0.15);
}
