@use "sass:map";
@use "@angular/material" as mat;

html.green_theme {
  --mat-sys-primary: rgb(152,41,42);
  --mat-sys-primary-fixed-dim: rgb(152,41,42, 0.15);
  --mat-sys-secondary: rgb(82, 202, 231);
  --mat-sys-secondary-fixed-dim: rgb(82, 202, 231, 0.15);
  --mat-sys-tertiary: rgb(195, 208, 70);
}
