@use "sass:map";
@use "@angular/material" as mat;

html.purple_theme {
  // --mat-sys-primary: rgb(249,182,0);
  // --mat-sys-primary-fixed-dim: rgb(249,182,0, 0.15);
  // --mat-sys-secondary: rgb(139, 200, 206);
  // --mat-sys-secondary-fixed-dim: rgb(139, 200, 206, 0.15);
  --mat-sys-primary-rgb: 249, 182, 0;
  --mat-sys-primary: rgb(var(--mat-sys-primary-rgb));
  --mat-sys-primary-fixed-dim: rgba(var(--mat-sys-primary-rgb), 0.15);
  --mat-sys-secondary-rgb: 139, 200, 206;
  --mat-sys-secondary: rgb(var(--mat-sys-secondary-rgb));
  --mat-sys-secondary-fixed-dim: rgba(var(--mat-sys-secondary-rgb), 0.15);
  // --mat-sys-tertiary: rgb(139, 200, 206);
}
